@import "tailwindcss";

body {
  background: #0f172a; /* Ciemne tło na start */
  color: #e2e8f0;
}

/* 1. Efekt obracania (Pogoda) */
.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

/* 2. Naprawa inputów wewnątrz Grida */
.nodrag {
  cursor: text;
  user-select: text;
}

/* 3. Uchwyt przesuwania */
.grid-drag-handle {
  cursor: grab;
}
.grid-drag-handle:active {
  cursor: grabbing;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* --- CUSTOM RESIZE HANDLE DLA DASHBOARDU --- */
.react-resizable-handle {
  z-index: 60 !important; /* Przesuwamy nad nakładkę edycji (z-50) */
  width: 30px !important; /* Zwiększamy obszar łapania */
  height: 30px !important;
  bottom: 0 !important;
  right: 0 !important;
  cursor: nwse-resize !important;
  background: transparent !important; /* Ukrywamy domyślny wygląd */
}

/* Ukrywamy domyślny szary trójkącik z biblioteki */
.react-resizable-handle::after {
  display: none !important;
}